<?xml version="1.0" encoding="UTF-8" ?>
<ce325server>
	<listenport>8000</listenport>
	<statisticsport>8001</statisticsport>
	<documentrootfilepath>C:\\root\\</documentrootfilepath>
	<accessfilepath>/path/to/access_log.txt</accessfilepath>
	<errorfilepath>/path/to/error_log.txt</errorfilepath>
</ce325server>